.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  /* create a grid based on the number of tiles generated in useEffect hook in index.js */
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  position: relative;
}

.tile:hover:before {
  background: linear-gradient(
    to right,
    rgb(70, 70, 70),
    rgb(40, 40, 40),
    rgb(15, 15, 15)
  );
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
  animation-duration: 0.5s;
  animation-name: animate-appear;
  animation-fill-mode: backwards;
}

@keyframes animate-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  background-color: black;
  width: 50%;
  height: 50%;
}
