.container {
  z-index: 2;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cells {
  max-height: calc(90vh -1px);
  max-width: calc(90vw -1px);
  position: relative;
  border: 0.7rem brown groove;

  display: grid;
  grid-template-columns: repeat(var(--game-cells), 0fr);
  grid-template-rows: repeat(var(--game-cells), 0fr);
}

.cell,
.cell_dark {
  min-width: 42px;
  min-height: 42px;
  border: black;
  background: rgb(190, 190, 190);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(15, 15, 15);
  border-style: ridge;
  font-size: 28px;
}
.cell_dark {
  background: rgb(140, 140, 140);
}

.cell:hover {
  background: rgb(30, 30, 30);
}

.I0 {
  fill: red;
}
.I1 {
  fill: rgb(37, 41, 243);
}
.I2 {
  fill: rgb(48, 170, 3);
}
.I3,
.I4,
.I5,
.I6,
.I7,
.I8 {
  fill: rgb(208, 0, 0);
}
