.container {
  z-index: 2;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.options {
  backdrop-filter: sepia(90%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  border: 1em gray ridge;
  pointer-events: auto;
}
.button_ranked {
  height: 10rem;
  width: calc(25rem - 10px);
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(87, 84, 84, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  font-family: "Kanit", sans-serif;
  border: 12px double gray;
  box-shadow: inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  cursor: pointer;
  pointer-events: auto;
  text-justify: unset;
}

.cells {
  max-height: calc(90vh -1px);
  max-width: calc(90vw -1px);
  position: relative;
  border: 0.7rem brown groove;

  display: grid;
  grid-template-columns: repeat(var(--game-cells), 0fr);
  grid-template-rows: repeat(var(--game-cells), 0fr);
}

.cell_even,
.cell_odd {
  min-width: 42px;
  min-height: 42px;
  border: black;
  background: rgb(120, 120, 120);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(15, 15, 15);
  border-style: ridge;
  font-size: 28px;
}
.cell_even:nth-child(even) {
  background: rgb(180, 180, 180);
}
.cell_even:hover {
  background: rgb(80, 80, 80);
}
.cell_odd:nth-child(odd) {
  background: rgb(180, 180, 180);
}
.cell_odd:hover {
  background: rgb(80, 80, 80);
}

.cell:hover {
  background: rgb(30, 30, 30);
}

.mine_icon {
  fill: rgb(255, 123, 0);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.I1 {
  fill: rgb(0, 3, 190);
}
.I2 {
  fill: rgb(48, 170, 3);
}
.I3,
.I4,
.I5,
.I6,
.I7,
.I8 {
  fill: rgb(210, 0, 0);
}
