.auth_container {
  z-index: 2;
  pointer-events: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button_container {
  position: relative;
  width: 50rem;
  height: 10rem;
  overflow: hidden;
}

.button_login,
.button_register {
  height: 10rem;
  width: calc(25rem - 10px);
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(87, 84, 84, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  font-family: "Kanit", sans-serif;
  border: 12px double gray;
  box-shadow: inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  cursor: pointer;
  pointer-events: auto;
  text-justify: unset;
}

.button_login {
  margin-right: 10px;
}
.button_register {
  margin-left: 10px;
}

.button_login:hover,
.button_register:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.auth_form {
  backdrop-filter: sepia(90%);
  display: flex;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  border: 1em gray ridge;
  pointer-events: auto;
}

.flag_icon,
.register_icon,
.login_icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.flag_icon,
.register_icon,
.login_icon {
  margin-right: 7px;
  width: 3rem;
  height: 3rem;
}

.flag_icon {
  fill: var(--flag-violet);
  stroke: black;
}

.register_icon {
  stroke: var(--yellow);
}

.login_icon {
  stroke: var(--bright-violet);
}

.form_text {
  padding-top: 2%;
  font-family: "Silkscreen", cursive;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
}

.close_button {
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.x_icon {
  fill: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
}

.container_centered {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.input_container {
  width: 90%;
  position: relative;
}
.input_container:nth-child(2) {
  margin-top: 7%;
}

.input,
.input_wrong_credentials {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  background: gray;
  margin-bottom: 10%;
  color: white;
  border: 5px gray ridge;
  padding: 6px 12px;

  font-size: 20px;
  font-family: "Kanit", sans-serif;
}

.input_label {
  position: absolute;
  width: fit-content;
  right: 5%;
  top: -30%;
  background: rgba(0, 0, 0, 1);
  line-height: 40px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  pointer-events: none;
  font-family: "Kanit", sans-serif;

  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 150ms;
}

.input:placeholder-shown ~ .input_label {
  position: absolute;
  width: fit-content;
  left: 5%;
  top: 15%;
  line-height: initial;
  border: initial;
  background: initial;
}

.input:focus ~ .input_label {
  left: initial;
  right: 5%;
  top: -30%;
  background: rgba(0, 0, 0, 1);
  line-height: 40px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.input:invalid:not(:placeholder-shown, :focus),
.input_wrong_credentials {
  background-color: rgb(192, 66, 28);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.commit_correct_button,
.commit_incorrect_button,
.commit_default_button,
.commit_default_login_button {
  margin-top: 4%;
  cursor: pointer;
  width: 65%;
  height: 4rem;
  border-radius: 6px;
  background: rgb(128, 128, 128);
  border: 3px solid;
}
.commit_default_login_button {
  border: 5px gray ridge;
  transition: width 0.3s, height 0.3s, background-color 0.5s ease-in-out;
}

.commit_correct_button {
  border-color: rgb(50, 230, 37);
  animation: jump 0.5s linear;
  transition: width 0.3s, height 0.3s, background-color 0.5s ease-in-out;
}
.commit_correct_button:hover,
.commit_default_login_button:hover {
  width: 70%;
  height: 4.2rem;
  background: rgb(60, 60, 60);
}
@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, -20%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.commit_incorrect_button {
  border-color: rgb(214, 26, 26);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.commit_default_button {
  border: 5px gray ridge;
}

.commit_correct_text,
.commit_incorrect_text,
.commit_default_text {
  font-family: "Silkscreen", cursive;
  text-align: center;
}

.commit_correct_text {
  color: rgb(50, 230, 37);
  font-size: 25px;
}

.commit_incorrect_text {
  color: rgb(214, 26, 26);
  font-size: 20px;
}

.commit_default_text {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
